doctype 5
html(lang="en")
  head
    title RTM Bulk Add
    meta(name="description", content="Store lists of tasks and add them in bulk to Remember the Milk with one click.")
    meta(name="viewport", content="width=device-width, height=device-height, user-scalable=no")
    link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", type="text/css", href="css/bulk-add.css")
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#") RTM Bulk Add
          ul.nav.pull-right(data-bind="visible: auth.loggedIn()")
            p.nav.navbar-text(data-bind="text: auth.username()")
            li
              a(data-bind="click: auth.logOut") Sign Out

    .loading(data-bind="visible: loading()") Loading ...

    .main.loaded(data-bind="css: { visible: !loading() }")
      .container
        .row
          .span12
            p
              | You can build up task sets by putting a task on each line. Use 
              a(href="https://www.rememberthemilk.com/services/smartadd/") smart add
              |  syntax to set due dates, lists, tags, etc.

        .row(data-bind="foreach: lists")
          .span6
            .list-box.well
              .rtm-options
                .btn-group
                  a.btn.dropdown-toggle(data-toggle="dropdown", href="#", title="Extra options", data-bind="css: {disabled: rtmList()}")
                    i.icon-cog
                  ul.dropdown-menu
                    li(data-bind="if: !rtmList()")
                      a(data-bind="click: setRtmListToDefault") Add to specific list
              h4.title(data-bind="text: 'Task Set ' + ($index() + 1)")
              textarea.list(data-bind="value: text")
              .rtm-extra-option(data-bind="if: rtmList")
                span List: 
                select.input-medium(data-bind="value: rtmList, options: $root.rtmLists, optionsText: 'name'")
                .btn(data-bind="click: clearRtmList")
                  i.icon-remove
              div
                .btn(data-bind="click: send, css: { disabled: sending }")
                  i.icon-upload
                  |  Send to RTM
                .btn.btn-danger(data-bind="click: $root.remove")
                  i.icon-remove.icon-white
                  |  Delete

        .row
          .span12
            .btn.btn-primary(data-bind="click: addList")
              i.icon-plus.icon-white
              |  Add task set

        footer
          div.footer-right
            | This product uses the Remember The Milk API but is not endorsed or certified by Remember The Milk.
          div.footer-left
            | by 
            a(href="http://www.twitter.com/al_north") @al_north
            |  | 
            a(href="http://www.alnorth.com") blog
            |  | 
            a(href="https://github.com/alnorth29/rtm-bulk-adder/issues") bugs &amp; feature requests

    .modal.fade.hide(data-bind="showModal: fatalError() || (!auth.loggedIn() && !loading())")
      .modal-header
        h3 Remember the Milk
      .modal-body
        div(data-bind="visible: fatalError()")
          span Error encountered: 
          span(data-bind="text: fatalError()")
        div(data-bind="visible: !fatalError() && auth.tokenExpired()")
          | Your connection to Remember the Milk has expired. Please log in again.
        div(data-bind="visible: !fatalError() && !auth.tokenExpired()")
          | In order to use this page properly you must authorise it to access your Remember the Milk account.
      .modal-footer(data-bind="visible: !fatalError()")
        a.btn.btn-primary(href="#", data-bind="click: auth.redirectToRTM")
          | Log in to Remember the Milk

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="bootstrap/js/bootstrap.min.js")
    script(src="js/knockout-2.2.1.js")
    script(src="js/md5-min.js")
    script(src="keys.js")
    script(src="js/bulk-add.js")
    script(type="text/javascript")
      if(googleAnalyticsAccount) {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', googleAnalyticsAccount]);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      }